<div class="page-header">
	<!-- <span class="hide-desktop">
	<svg width="100%" viewBox="0 20 90 80" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<image class="img-rounded" xlink:href="images/prashar_lake.jpg"  width="100%" height="100%"/>
	</svg>
</span>
<span class="hide-mobile">
<svg viewBox="0 20 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
	<image class="img-rounded" xlink:href="images/prashar_lake.jpg"  width="100%" height="100%"/>
</svg>
</span> -->
<img src="images/prashar_lake.jpg" height="300px" width="100%" style="margin-bottom: 30px;"/>
</div>
