<div class="col-lg-16 col-md-16 col-xs-16 col-sm-16" style="background-color:RED;">
	<div id="tech">Technology
		<div class="box item1">
			<img class="img-responsive img-rounded" src="images/rbi.jpg"></img>
			<p>Why do we need RBI?</p>
		</div>
		<div class="box item2">
			<img class="img-responsive img-rounded" src="images/rbi.jpg"></img>
			<p>Why do we need RBI?</p>
		</div>
		<div class="box item3">
			<img class="img-responsive img-rounded" src="images/rbi.jpg"></img>
			<p>Why do we need RBI?</p>
		</div>
		<a class="blog-top" href="#header">TOP</a>
	</div>
</div>
