<div blog-header></div>
<div class="row">
	<div class="home-container">
		<section class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-2">
			<h2>Everything starts with a Why. And here's why I write this blog?</h2>
			<br>
			<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a magna vel 
				velit vehicula rhoncus accumsan ac metus. Nam laoreet, est quis luctus euismod,
				urna mauris accumsan magna, id tempor libero tellus a velit. Duis bibendum est erat,
				nec accumsan nisl molestie vulputate. Maecenas finibus, orci nec pretium consequat,
				ipsum purus imperdiet justo, sit amet fringilla mi sem ut ante. Lorem ipsum dolor sit amet,
				consectetur adipiscing elit. Proin feugiat diam velit, sed pulvinar nunc semper ut. Maecenas
				porttitor sapien non elit vehicula vestibulum. Integer quis mi turpis. Morbi sed consectetur tellus,
				id cursus ante.<br/><br/></p>
		</section>
	</div>
</div>
<div blog-footer></div>