
<div class="container-fluid header-Img-padding">
	<div class="col-lg-16 col-md-16 col-sm-16 col-xs-16">
	<div class="page-header" id="header">
		<img class="img-responsive img-rounded" src="images/banner01.jpg" alt="Banner Image">
	<nav class="navbar navbar-default navbar-static-top">
      <ul class="nav navbar-nav">
		<li class="active"><a href="#Home">Home</a></li>
        <li class="#politics"><a href="#polity">Politics</a></li>
        <li><a href="#tech">Technology</a></li>
		<li><a href="#pers">Personal</a></li>
		<li><a href="#misc">Miscellaneous</a></li>
      </ul>
	  </nav>
	  </div>
    </div>
</div>
