
	<div class="row">
		<div class="col-xs-7 col-md-11 col-lg-11">
			<div class="pull-right">
			<div class="clearfix hidden-xs">
			<div class="page-header" id="header">
				<nav class="navbar navbar-default navbar-static-top">
					<ul class="nav nav-pills">
						<li class="active"><a href="#Home">Home</a></li>
						<li class="#politics"><a href="#polity">Politics</a></li>
						<li><a href="#tech">Technology</a></li>
						<li><a href="#pers">Personal</a></li>
						<li><a href="#misc">Miscellaneous</a></li>
					</ul>
				</nav>
			</div>
		</div>
		</div>
		</div>
	</div>
	<hr/>
