<div class="row">
	<div class="col-xs-10 col-lg-10 col-xs-offset-1 col-lg-offset-1">
		<div class="page-header">
			<!--nav class="navbar navbar-default navbar-static-top">
				<ul class="nav nav-pills">
					<li class="active"><a href="#Home">Home</a></li>
					<li class="#politics"><a href="#polity">Politics</a></li>
					<li><a href="#tech">Technology</a></li>
					<li><a href="#pers">Personal</a></li>
					<li><a href="#misc">Miscellaneous</a></li>
				</ul>
			</nav-->
			<img class="img-responsive img-rounded" src="images/road.jpg" alt="sunrise" style="height:345px !important;"/>
		</div>
	</div>
</div>
<hr/>
