<div class="row">
	<div class="home-container">
		<div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
			<section>
				<header>
					<h2>Lorem Ipsum Dolor amit</h2>
				</header>
				<article>
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a magna vel 
					velit vehicula rhoncus accumsan ac metus. Nam laoreet, est quis luctus euismod,
					urna mauris accumsan magna, id tempor libero tellus a velit. Duis bibendum est erat,
					nec accumsan nisl molestie vulputate. Maecenas finibus, orci nec pretium consequat,
					ipsum purus imperdiet justo, sit amet fringilla mi sem ut ante. Lorem ipsum dolor sit amet,
					consectetur adipiscing elit. Proin feugiat diam velit, sed pulvinar nunc semper ut. Maecenas
					porttitor sapien non elit vehicula vestibulum. Integer quis mi turpis. Morbi sed consectetur tellus,
					id cursus ante.<br/><br/>
					<a href="#" >Read More>></a>
					<hr/>
				</article>
			</section>
			<section>
				<header>
					<h2>Ut convallis facilisis</h2>
				</header>
				<article>
					<p class="lead">Ut convallis facilisis rutrum. Curabitur at eros non ipsum consequat porttitor. Sed lacinia ut
					ligula a vulputate. Nulla facilisis vehicula libero nec varius. Nulla ut erat at arcu hendrerit
					aliquam. Aliquam pharetra lectus quis semper vestibulum. Praesent pharetra id urna at iaculis.
					Donec ac dui sagittis, suscipit lorem vel, feugiat velit. Vestibulum dapibus, ex non posuere efficitur, 
					ex diam malesuada ex, non laoreet lectus sem id libero. Aenean id lacus vel magna tempor commodo. 
					Ut sit amet augue tempor, lobortis est eget, aliquet nisi.<br/><br/>
						<a href="#" >Read More>></a>
						<hr/>
					</p>
				</article>
			</section>
			<section>
				<header>
					<h2>Cras ultrices id urna</h2>
				</header>
				<article>
					<p class="lead">Cras ultrices id urna sit amet faucibus. Sed nec ex purus. Vestibulum est lacus, imperdiet quis sem
					vitae, ornare elementum nulla. Cras ut rhoncus nunc. Curabitur rhoncus posuere luctus. Integer ac congue
					turpis. In hac habitasse platea dictumst. Ut porta turpis ut turpis pharetra, ut vestibulum lectus
					fermentum.<br/><br/>
						<a href="#">Read More>></a>
						<hr/>
					</p>
				</article>
			</section>
			<section>
				<header>
					<h2>Duis faucibus ex at</h2>
				</header>
				<article>
					<p class="lead">Duis faucibus ex at turpis lobortis iaculis. Praesent a lectus sit amet ante tincidunt posuere. Vivamus 
					varius turpis lectus, et pretium risus dapibus nec. Mauris varius orci vel orci pulvinar, et mattis
					augue feugiat. Cras auctor sem suscipit tortor feugiat, vel volutpat lorem consequat. Phasellus lorem
					arcu, fermentum at condimentum quis, vestibulum a libero.<br/><br/>
						<a href="#">Read More>></a>
					</p>
				</article>
			</section>
		</div>
	</div>
</div>