<div class="row">
	<div class="home-container">
		<div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1">
			<section ng-repeat="text in content">
				<header>
					<h2>{{text.heading}}</h2>
				</header>
				<article>
					<p class="lead">{{text.para1}}<br/><br/>
					<a href="#/link" ng-click="linkClick(text.id)">Read More>></a>
					<hr/>
				</article>
			</section>

		</div>

	</div>
	<div class="clearfix hidden-xs">
		<div id="sideContainer">
			<aside>
				<div class="topAside">
					<h1>Most Viewed</h1>
				</div>
				<div class="bottomAside">
					<ul>
						<li><a href="javascript:void(0);">Top Article 1</a></li>
						<li><a href="javascript:void(0);">Top Article 2</a></li>
					</ul>
				</div>
			</aside>
		</div>
	</div>
</div>
