<div class="col-lg-16 col-md-16 col-xs-16 col-sm-16" style="background-color:GREY;">
	<div id="misc">MISCELLANEOUS
		<p> There are many topics on which I write about and these topics do not fall under any<br>
		category defined as above. So I thought that it would be better to put them in this section. <br>
		This may contain various topics like books, fiction, any special incidents or various irrelevant topics like weather<br>
		or symbology.<br>
		</p>
	<a href="#header">TOP</a>
	</div>
</div>
