#title
{
	font-family: "Verdana";
	font-size: 100px;
	text-align: center;
}
.header-Img-padding
{
	margin-top:-2.6em !important;
}	
.index-padding
{
	padding-left:1em;
	padding-right:1em;
}
/* #header
{
	//background-image:url('banner.jpg');
	position:absolute;
	left:0px;
	top:0px;
	position:rightwards;
	width:1285px;
	height:157px;
	background-color:BLACK;
	color:WHITE;
	
} 
#main-container
{
	width:1285px;
	height:2000px;;
	position:absolute;
	left:27px;
	//background-color:BLACK;
}*/
/*#home
{
	position:absolute;
	left:10px;
	top:300px;
	background-color:RED;
}
#polity
{
	position:absolute;
	left:0px;
	top:600px;
	background-color:BLUE;
}
#tech
{
	position:absolute;
	left:0px;
	top:900px;
	background-color:YELLOW;
}
#pers
{
	position:absolute;
	left:0px;
	top:1200px;
	background-color:ORANGE;
}
#misc
{
	position:absolute;
	left:0px;
	top:1500px;
	background-color:CYAN;
}*/
/*#footer
{
	position:absolute;
	//left:27px;
	//top:2155px;
	//width:1285px;
	height:70px;
	background-color:GREY;
	text-align:center;
	margin-left:27px;
}*/