@font-face {
	font-family: blogFont;
	src: url(fonts/glyphicons-halflings-regular.eot); /*IE9 Compatible Modes*/
	src: url(fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), /*IE6-IE8*/
		 url(fonts/glyphicons-halflings-regular.woff2) format('woff2'),	/*Super Modern Browsers*/
		 url(fonts/glyphicons-halflings-regular.woff) format('woff'),	/*Pretty Modern Browsers*/
		 url(fonts/glyphicons-halflings-regular.ttf) format('truetype'), /*Safari, Android, iOS*/
		 url(fonts/glyphicons-halflings-regular.svg?#svgFontName) format('svg'); /*Legacy iOS*/
}
h2 {
	color:#337ab7;
}
#title {
	font-family: 'Open Sans', sans-serif;
	font-size: 100px;
	text-align: center;
}

.container-fluid {
	box
}

img {
	height: 600px !important;
	width: 100% !important;
}


.footer {
	background-color:BLACK;
	text-align:center;
	width: 100% !important;
}
footer p {
	width: 100% !important;
}

.box {

	border-radius: 2px;
	display: inline-block;
	margin: 20px;
	width: 280px;
}

.box img {
	height: 250px !important;
	width: 100% !important;
}

.box p {
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}

#polity {
	background-color: rgb(248, 248, 248);
}

.item1 {
	left: 20px;
	position: relative;
	top: 20px;
}

.item2 {
	left: 130px;
	position: relative;
	top: 20px;
}

.item3 {
	left: 240px;
	position: relative;
	top: 20px;
}
.blog-top {
	left: 253px;
	position: relative;
	top: 29px;
}
.home-container a {
	padding-left: 49% !important;
	font-weight: bold;
	}

#sideContainer {
	padding-left: 70%;
	padding-right: 5%;
	padding-top: 4%;
}
aside {
	border: 2px solid #0574ac;
	border-radius: 4px;
}
.topAside {
	background-color: #0574ac;
	color: #FFFFFF;
	/*font-family: blogFont;*/
	font-size: 1.9em;
	margin-top: -6%;
	padding-left: 15%;
	padding-top: -2%;
}
.bottomAside ul li {
	list-style-type: none;
	padding-top: 2%;
}

.page-header {
	margin: 10px 0 20px;
}
.lead {
	font-family: 'Open Sans', sans-serif;
}
/*Medium devices(Desktops, 992px and up)*/
@media(min-width: 992px) {
	.home-container {
		width: 75%;
	}
	.home-container a {
		padding-left: 80% !important;
	}
	footer p {
		margin-left: -2% !important;
	}
	.hidden-desktop {
		display: none;
	}
}

@media(max-width: 992px) {
	.hidden-mobile {
		display: none;
	}
}
